body {
	background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

header{
	display: grid;
	grid-template-columns: 10% 10% 10% 60% 10%;
	grid-template-rows: 130px;
	grid-row-gap: 5px;
	background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}

.checkboxes{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #555555;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 8px 12px;
    cursor: pointer;
}

.checkboxes::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    transition: transform .3s ease-in-out;
}

.checkboxes input[type="checkbox"]:checked{
    transition: transform .3s ease-in-out;
}

.checkboxes input[type="checkbox"]:checked {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

.checkboxes input[type="checkbox"] {
  display: absolute;
  position: absolute;
  opacity: 0;
}
.checkboxes input[type="checkbox"]:focus {
  border: 2px solid #e9a1ff;
}
